{% extends 'base.html.twig' %}

{% from 'page/partials/menu.html.twig' import menu as menu %}

{% block body %}
    <div class="wiki-page">
            
        <nav class="wiki-page__nav">
            <h1>{{ wiki.name }}</h1>
            {{ render(controller('AppBundle:Navigation:pages', { 'slug': wiki.slug })) }}
        </nav>
        
        <div class="wiki-page__content-container">
            <article class="wiki-page__content">
                {{ page.content | markdown }}
            </article>
            
            {% if is_granted('edit', wiki.slug) %}
            <a class="wiki-page__action-link" href="{{ url('page_edit', {'slug': wiki.slug, 'path': page.path}) }}" tabindex="0" title="Edit Page">Edit Page</a>
            <a class="wiki-page__action-link" href="{{ url('page_delete', {'slug': wiki.slug, 'path': page.path}) }}" tabindex="0" title="Delete Page">Delete Page</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
