{% macro menu(pages, page) %}
    {% from _self import entry as entry %}
    <ul class="wiki-menu">
        {% if page.pages | length > 0 %}
            {% for page in pages %}
                {{ entry(page) }}
            {% endfor %}
        {% endif %}

        <li class="wiki-menu__item"><a href="{{ url('page_new', {'slug': page.wiki.slug, 'path': page.path}) }}" title="New Page" tabindex="0">New page</a></li>
    </ul>
{% endmacro %}

{% macro entry(page) %}
    {% from _self import menu as menu %}
    <li class="wiki-menu__item">
        <a href="{{ url('page_show', {'slug': page.wiki.slug, 'path': page.path}) }}">{{ page.name | desluggify | default(page.wiki.name) }}</a>
        {% if page.hasSubpages %}
            {{ menu(page.pages, page) }}
        {% endif %}
    </li>
{% endmacro %}